@charset "utf-8";


body{
  margin: 0 auto;  
  max-width: 1360px; 
}

  
  
  header{position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  max-width: 1360px; 
  margin: 0 auto;
  height: 80px;
  z-index: 2;
 
    
  }
  
  
  .ヘッダーの位置{
    padding: 0 40px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  
  header img{
    object-fit: cover;
    width: 180px;
    height: 20px;
  }
  
  .商品{
   
  display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /* ここから下がハンバーガーメニューに関するCSS */
    
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 20px;
    width: 30px;
    justify-content: center;
    align-items:center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    top: 2px;
   
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span::before ,.drawer_open span::after
   {
    content: '';
    display: block;
    height: 3px;
    width: 35px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
    
  }
  
  
  
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 5px;
    
  }
  
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 3px;
   
  }
  
  
  .drawer_open span{
    background: rgba(255, 255, 255, 0);
  }
  
  
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before{
    bottom: 0;
    transform: rotate(45deg);
    background-color: white;
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: white;
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: black;
    opacity: 0.8;
  }
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
   position: absolute;
   top: 30px;
  }
  
  
  .メニュー>a{
    color: white;
    line-height:2;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    transition: 1s;
  }
  

  .メニュー>a:hover{
    opacity: 0.5;
    
  }
  
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }




main{
  margin-top: 80px;
  max-width: 600px;
  padding: 0 40px;
  

  
}





.テーブル{
  width: 100%;
  border-collapse: collapse;

  margin: 0;
}
th, td {
  padding: 20px 0;
  vertical-align: top;
  font-size: 14px;
}



td span {
  display: inline-block;
 
}



th{
  text-align: left;
  font-weight: normal;
}


td{
 width: 400px;
}



tr+tr{
  border-top: 1px solid gray;
}

.テーブル2{
  display: none;
}


@media (max-width: 900px){
  .テーブル{
    display: none;
  }
  .テーブル2{
    display: table;
  }
 
td{
  border-bottom: 1px solid gray;
  line-height: 2;
  width: 600px;
}

tr:last-child td {
  border-bottom: none;
}

.事業内容{
  border-bottom: none;
  line-height: 2;
 padding-bottom: 5px;
  
  
}

.説明{
  line-height: 1.2;
 padding: 0 0;
  
  
}
}













iframe{
  margin-top: 50px;
  margin-bottom: 50px;
  filter: grayscale(100%);
  width:100%;
  max-width: 600px;
  height: 300px;
  border: solid red 2px;
}



li{
  list-style: none;
font-size: 14px;

}

ul>li>a{
  text-decoration: none;
  color: black;
  transition: opacity 0.5s;
  opacity: 1;
font-size: 14px;
}

footer{
display: flex;
max-width: 1360px;
padding: 0 40px;
margin: 0 auto;
justify-content: space-between;
box-sizing: border-box;
align-items: baseline;
}


.menu{
  display: flex;
gap: 28px; 
padding-left: 0;


}


.menu>li>a{
  font-size: 12px;
}

.copyright{
  font-size: 10px;
}
